@page "/todo"
@rendermode InteractiveServer

<PageTitle>Todo</PageTitle>

<h3>Todo: @_todos.Count((t) => !t.IsDone)</h3>

<input placeholder="Something todo" @bind="_newTodoTitle"/>
<button onclick=@AddTodo>Save Todo</button>

<ul>
@foreach (var todo in _todos)
{
    <li>
        <input type="checkbox" @bind="todo.IsDone" />
        @todo.Title
    </li>
}
</ul>

<button onclick=@ClearDone>Clear Done</button>

@code {
    public class TodoItem
    {
        public string? Title { get; set; }
        public bool IsDone { get; set; }
    }

    private string? _newTodoTitle;
    private List<TodoItem> _todos = [];

    private void AddTodo()
    {
        if (string.IsNullOrEmpty(_newTodoTitle)) {
            return;
        }

        var todo = new TodoItem {
            Title = _newTodoTitle,
            IsDone = false,
        };

        _todos.Add(todo);
        _newTodoTitle = string.Empty;
    }

    private void ClearDone()
    {
        _todos.RemoveAll((t) => t.IsDone);
    }
}
